<!DOCTYPE html>
<html lang="en">
<head>
   {% extends 'authapp/base.html' %}
{% load static %}
</head>
<body>
{%block content%}
<figure class="figure border border-success p-2 mb-2 position-absolute top-50 start-50 translate-middle">
        <figcaption class="figure-caption"><h3>Финансовая ведомость</H3></figcaption>
<form method="post" action="{%url 'finstat'%}" class="form-horizontal" >
     {% csrf_token %}
   {{form.as_p}}
    <input type="submit" value="Сохранить" class="form-control btn btn-success">
</form>
{%endblock%}
</body>
</html>